<!doctype html>
<html>
	<head>
		<% include ../views/shared/header %>
	</head>
	<body>
		<nav class="navbar navbar-default">	
			<% include ../views/shared/MainNavigation %>
			<% include ../views/shared/HomeNavigation %>
		</nav>


		

		<% include ../views/home %>
		
		<% include ../views/shared/footer %>

	</body>
</html>

